<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LambdaTest Suite" parallel="methods" thread-count="2">

    <listeners>
        <!-- Attach your custom listener here if using -->
        <listener class-name="listeners.ExtentTestNGListener" />
    </listeners>

    <test name="Login Functionality Tests">
        <parameter name="url" value="https://the-internet.herokuapp.com/login"/>
        <parameter name="isRemote" value="true"/>
        <classes>
            <class name="tests.LoginTests" />
        </classes>
    </test>

    <test name="Javascript Alert Tests">
        <parameter name="url" value="https://the-internet.herokuapp.com/javascript_alerts"/>
        <parameter name="isRemote" value="false"/>
        <classes>
            <class name="tests.JavaScriptAlertsTest" />
        </classes>
    </test>

</suite>